{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}
<div class="container col-md-8 text-center mt-3">
    <h1>Classes</h1>
{% if is_granted('ROLE_ADMIN') %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ class.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ class.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('classes_index') }}">back to list</a>     
    {% else %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ class.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ class.name }}</td>
            </tr>
        </tbody>
        {% if is_granted('ROLE_ADMIN') %}
     <a href="{{ path('classes_index') }}">back to list</a>
    {% else %}
     <a href="{{ path('classes_list') }}">back to list</a>
    {% endif %}
       
    </table>
    {% endif %}
</div>
{% endblock %}
