{% extends 'base.html.twig' %}

{% block title %}Lecturer{% endblock %}

{% block body %}
<div class="container col-md-8 text-center mt-3">
    <h1>Lecturer</h1>

    <table class="table">
    {% if is_granted('ROLE_ADMIN') %}
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lecturer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ lecturer.name }}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td>{{ lecturer.dob ? lecturer.dob|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ lecturer.image }}</td>
            </tr>
        </tbody>
        {% else %}
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lecturer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ lecturer.name }}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td>{{ lecturer.dob ? lecturer.dob|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ lecturer.image }}</td>
            </tr>
        </tbody>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('lecturer_index') }}">back to list</a>
        {% else %}
        <a href="{{ path('lecturer_list') }}">back to list</a>
        {% endif %}
        {% endif %}
    </table>
</div>
{% endblock %}
