{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 text-center mt-3">
   <div class="row">
      <div class="col-4">
         <div class="card">
            <img src="{{ lecturer.image }}" width="300" height="300">
         </div>
      </div>
      <div class="col-6">
         <table class="table table-bordered">
            <tr>
               <th colspan="2" class="bg-light">
                  <h2 class="text-danger"> Lecturer Information </h2>
               </th>
            </tr>
            <tr class="h4">
               <th>Name</th>
               <td>{{ lecturer.name }}</td>
            </tr>
            <tr class="h4">
                <th>Lecturer D.O.B</th>
                <td>{{ lecturer.dob | date('d/m/Y') }}</td>
            </tr>
            <tr class="h4">
               <th class="col-md-4">Class List</th>
               <td class="col-md-8">
               {% if lecturer.classId != null %}
                  {% for class in lecturer.classId %}
                     <a href="{{ path('classes_detail', {'id' : class.id })}}">
                        {{ class.name }} 
                     </a>
                     <br>
                  {% endfor %}
               {% endif %}
               </td>
            </tr>
         </table>
      </div>
   </div>
</div>
{% endblock %}